.title {
    font-size: 35px;
    font-weight: 500;
    color: #d4d9da;
    cursor: default;
    margin-bottom: 20px;
}

.complete {
    color: transparent !important;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 22px;
    ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 95%;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 22px;
            .todo_simple_text {
                font-size: 40px;
                padding: 40px;
            }
            .todo_simple_buttons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 35px;
                width: 100px;
                margin-right: 50px;
                .trash_button {
                    margin-right: 25px;
                    svg {
                        fill: #d4d9da;
                        transition: ease-in 0.12s;
                    }
                }
                .trash_button:hover {
                    svg {
                        fill: #d80027;
                        transition: ease-in 0.12s;
                    }
                }
                .done_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid #67a63a;
                    padding: 0px;
                    border-radius: 20px;
                    transition: ease-in 0.12s;
                    outline: none;
                    cursor: pointer;
                    svg {
                        fill: #67a63a;
                        transition: ease-in 0.12s;
                    }
                }
                .done_button:hover {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #67a63a;
                    padding: 0px;
                    border-radius: 20px;
                    outline: none;
                    transition: ease-in 0.12s;
                    svg {
                        fill: white;
                        transition: ease-in 0.12s;
                    }
                }
                svg {
                    height: 35px;
                    width: 35px;
                }
            }
        }
        li:last-of-type {
            margin-bottom: 0px;
        }
    }
    .split_line {
        border-bottom: 2px solid #d4d9da;
        width: 80%;
        margin: 25px 0 25px 0;
    }
    .todo_simple_done {
        .done_button_complete {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #67a63a;
            padding: 0px;
            border: 3px solid #67a63a;
            border-radius: 20px;
            transition: ease-in 0.12s;
            outline: none;
            svg {
                fill: white;
                transition: ease-in 0.12s;
            }
        }
        .done_button_complete:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #67a63a;
            background-color: white;
            padding: 0px;
            border-radius: 20px;
            transition: ease-in 0.12s;
            outline: none;
            cursor: pointer;
            svg {
                fill: #67a63a;
                transition: ease-in 0.12s;
            }
        }
    }
}